
    <style>
        .col-3{
            width: 300px;
            margin: 0% !important;
            background: #000000;
            color: white;
            position: fixed;
            top: 0;
            bottom: 0;
        }
        a{
            text-decoration: none;
            list-style-type: none;
        }
    </style>

    <div class="col-3">
        <img src="{{ asset('build/images/LOGO_JE_Tunisia White.png') }}">
        <ul>
            <a class="btn btn-outline-warning" href="{{ path('app_usercv') }}"><li>HOMEEEEEE</li></a>
            <a><li>HOMEEEEEE</li></a>
            <a><li>HOMEEEEEE</li></a>
            <a><li>HOMEEEEEE</li></a>
            <a><li>HOMEEEEEE</li></a>

        </ul>
    </div>
